<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load static %}
    {% load bootstrap4 %}
    <meta charset="UTF-8">
    <title>Transfer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'transfer/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar">
  <h1 class="navbar-brand">Harmonicss</h1>
</nav>
{% if messages %}
    {% for message in messages %}
        <script>
            function message(){
             alert('{{message}}');
            }
            message();
        </script>
    {% endfor %}
{% endif %}
 <form class="col-sm-6" method="Post" action="#">
        {% csrf_token %}
        <div class="form-group">
            <label for="url">Url:</label>
            {{ transfer_form.url }}
            <input type="file">
            <button type="button" onclick="filepath();">Local JSON Path</button>
        </div>
        <div class="form-group">
            <label for="database">Database:</label>
            {{ transfer_form.database }}
        </div>
        <div class="form-group">
            <label for="database">Database UserName:</label>
            {{ transfer_form.username }}
        </div>
        <div class="form-group">
            <label for="database">Database Password:</label>
            {{ transfer_form.password }}
        </div>
        <div class="transfer-btn">
            <button type="submit" class="btn btn-success" onclick="valid();">Transfer</button>
        </div>
    </form>
<div class="loading" id="loading">Loading&#8230;</div>
 <script>
    url = document.getElementById('url').value
    username = document.getElementById('username').value
    password = document.getElementById('password').value

    function valid(){
        if(url != '' || username != ''){
            loader();
         }
    }

    function loader(){
        document.getElementById('loading').style.display = "block";
    }
</script>
</body>
</html>